<table border='0'>
    <tr>
        <td><img src="http://romanovrussia.com/Moss_Agate_brooch_2.jpg" width="500"></td>
        <td style="vertical-align: text-top;">
            <table>
                <tr>
                    <td>
                        <b>Name of Stone</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a...
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>