    <tr>
        <td align="center" style="vertical-align:top;">
            <img src="$$MYAPPNAME_IMAGE$$" width="300" alt="description here" />
        </td>

        <td align="center" style="vertical-align:top;">
            <b>Name of Something</b><br/>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a...
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div align="right">
                <a href="$$$MYAPPNAME_URL$$">read more</a>
            </div>
        </td>
    </tr>



